.userFields
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;

    align-content: center;
}

.bigText {
    display: inline-block;
}

.smallText {
    display: none;
}

/* I am not sure about all other devices but a regular iPhone 8 has a width of 720 px
and that seems to be a lot of users have this width so I have just went with 720px */
@media screen and (max-width: 720px) {
    .smallText {
        display: inline-block;
    }
    .bigText {
        display: none;
    }
}

img, video {
    width: 75%;
}

@media screen and (max-width: 720px) {
    img, video {
        height: 50%;
    }
}