{% extends "layout.html" %}

{% block title %}
    Make Super User
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>
            Admin Super User Page
        </h1>
        <h5>Make someone an admin or super user</h5>
        {% if message %}
            <div>
                <h6>{{ message }}</h6>
            </div>
        {% endif %}
        <br>
        <form action="/admin" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="user_info" placeholder="Username, User ID, or Email (Or just leave empty to view everyone who is not an admin)" type="text">
            </div>
        </form>
    </div>
    
    
{% endblock %}
