{% extends "layout.html" %}

{% block title %}
    Create Post
{% endblock %}

<!-- Taken from CS50's finance that I completed -->

{% block main %}
    <div class="text-center">
        <h1>
            Create Post
        </h1>
        <form action="/create_post" method="post" enctype=multipart/form-data>
            <div class="form-group">
                <input class="form-control" autocomplete="off" autofocus name="title" placeholder="Title..." type="text">
            </div>
            <br>
            <div>
                <h5>Text Content:</h5>
                <textarea name="post-body" cols=100 rows=10 placeholder="Lorem ipsum dolor sit amet..."></textarea>
            </div>
            <br>
            <!-- https://www.w3schools.com/bootstrap4/bootstrap_forms_custom.asp -->
            <div class="custom-file">
                <h6>If you decide to upload an image then please make sure it is a unique name</h6>
                <input type="file" name="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file (optional)</label>
            </div>
            <br>
            <br>
            <button class="btn btn-primary" type="submit">Create Post</button>
        </form>
        <!-- This script needs to be loaded after the upload -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </div>
    
{% endblock %}
