{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>
            Posts
        </h1>
        <div>
            <ul class="list-group">
                {% for post in posts|reverse %}
                    <li class="list-group-item">
                        <a href="post/{{post[0]}}">{{ post[1] }} by {{ post[2] }}</a>
                        <br>
                        <small><i>{{ post[3]}}</i></small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}
