{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

<!-- Taken from CS50's finance that I completed -->

{% block main %}
    <div class="text-center">
        <h1>
            Posts
        </h1>
        {% for post in posts %}
            <div>
                <ul>
                    <li>
                        {{ post }}
                        <br>
                        <a href="posts/{{post_id}}">Click to view</a>
                    </li>
                </ul>
            </div>
    </div>
    
{% endblock %}
